body {
  background: linear-gradient(red, blue);
  padding-left: auto;
  padding-right: auto;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana, sans-serif,serif;
    font-size: 20px;
    text-align:center;
    color: white;
}
a:link {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: red;
  text-decoration:none;
}
a:hover {
  color: orange;
  text-decoration: underline;
}
img{
    Max-width: 100%;
    padding-left: auto;
    padding-right: auto;
}
